<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Parsemon</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />
    <script src='https://code.jquery.com/jquery-3.7.1.js'></script>
    <script src='https://code.jquery.com/ui/1.13.3/jquery-ui.js'></script>

    <link rel='stylesheet' href='/css/style.css' />

  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        {{#if loggedIn}}
          <li><a href='/deckbuilder'>Deckbuilder</a></li>

          <li><a href='/dashboard' id='dashboard'>Dashboard</a></li>

          <li><a href='#' id='logout'>Logout</a></li>
        {{else}}
          <li><a href='/login'>Login</a></li>
        {{/if}}
        <li><a href='/about'>?</a></li>
      </ul>
    </nav>
    <header>
      {{! header content will go here }}
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if dashboard}}
      <footer>
        <a href='/dashboard/new'>➕ New Data</a>
      </footer>
    {{else}}
      <footer>
        &copy; The Milkmen
      </footer>
    {{/if}}

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>

  </body>

</html>