<div>
  <div>
    <h2>Edit DataExtension</h2>
  </div>
  <form id='edit-dataExtension-form'>
    <input type='hidden' name='dataExtension-id' value='{{dataExtension.id}}' />
    <label for='dataExtension-body'>Review Description</label>
    <textarea name='dataExtension-body'>{{dataExtension.body}}</textarea>

    <button type='submit'>Update</button>

    <button type='button' id='delete-btn'>Delete</button>
  </form>
</div>

<script src='/js/editDataExtension.js'></script>