<div>
  {{! Rival Row }}
  <div class='row'><p>Rival Row will go here</p>
    {{! Rival Hand }}
    <div class='col s4'><p>Rival Hand will go here</p></div>
    {{! Rival Play Area }}
    <div class='col s4'><p>Rival Play Area will go here</p></div>
    {{! Rival Deck }}
    <div class='col s4'><p>Rival Deck will go here</p></div>
  </div>
  {{! Game Area }}
  <div class='row'><p>Game will go here</p>
    {{! Rival Game Area }}
    <div class='row'><p>Rival Game Area will go here</p></div>
    {{! Player Game Area }}
    <div class='row'><p>Player Game Area will go here</p></div>
  </div>

  {{! Player Row }}
  <div class='row'><p>Player Row will go here</p>
    {{! Player Hand }}
    <div class='col s4'><p>Player Hand will go here</p></div>
    {{! Player Play Area }}
    <div class='col s4'><p>Player Play Area will go here</p></div>
    {{! Player Deck }}
    <div class='col s4'><p>Player Deck will go here</p></div></div>
  {{! Player Hand }}
  <div class='row'><p>Player Hand will go here</p></div>
  {{! Prompt }}
  <div class='row'><p>Prompt will go here</p></div>
</div>