<div class="data card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-data-form" class="card-body">
    <label class="form-label" for="data-title">Title</label>
    <input type="text" name="data-title" class="form-input" />

    <label class="form-label" for="data-body">Content</label>
    <textarea name="data-body" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/newPost.js"></script>