<div>
  <div>
    <h2>Create New Data</h2>
  </div>
  <form id='new-data-form'>
    <label for='data-title'>Book Title</label>
    <input type='text' name='data-title' />

    <label for='data-body'>Book Description</label>
    <textarea name='data-body' class='form-input'></textarea>

    <button type='submit'>Create</button>
  </form>
</div>

<script src='/js/newData.js'></script>